*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans,
    Ubuntu, Cantarell, Helvetica Neue, sans-serif;
}

.page-container {
  height: 100vh;
  display: flex;
}

.photo {
  background: url('./public/images/winnieOffice.jpg');
  background-size: cover;
  -ms-background-position-x: center;
  -ms-background-position-y: center;
  background-position: center center;

  flex: 4;

  padding: 5px;
  position: relative;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.carousel-indicators {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 10%;
  display: flex;
  justify-content: space-around;
}

.carousel-indicators div {
  background-color: gray;
  height: 12px;
  width: 12px;
  border-radius: 50%;
}

.carousel-indicators .active {
  background-color: #fff;
}

.carousel-buttons {
  width: 95%;
  display: flex;
  justify-content: space-between;
}

.carousel-buttons a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  background-color: rgba(0, 0, 0, 0.6);
  border: 2px solid #fff;
  color: black;
  border-radius: 50%;
  color: #fff;
}

.carousel-buttons a:hover {
  background-color: #ddd;
  color: black;
}

.tiles {
  background-color: #254750;
  flex: 6;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: #fff;
}

.tile-item {
  border: 2px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tile-item p {
  margin-top: 0.5rem;
  margin-bottom: 0;
  font-size: 0.5rem;
}

.tile-item i {
  font-size: 3rem;
}

.tile1 {
  grid-column: span 2;
  padding: 0 0 0 2rem;
  background-color: #254750;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tile1 h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.tile1 div {
  margin-top: 20px;
}

.tile1 div i {
  font-size: 0.6rem;
}

.tile1 div button {
  padding: 10px 20px;
  margin-right: 20px;

  border: 2px solid #fff;
  background-color: inherit;
  color: #fff;
}

.tile2 {
  background-color: #7b3551;
}

.tile3 {
  background-color: #103339;
}

.tile4 {
  background-color: #c42f59;
}

.tile5 {
  background-color: #5e3f50;
}

.tile6 {
  background-color: #254750;
}

.tile7 {
  background-color: #7b3551;
}

.tile8 {
  background-color: #103339;
}

@media only screen and (max-width: 800px) {
  .page-container {
    flex-direction: column;
  }

  .tiles {
    order: 1;
  }
}

@media only screen and (max-width: 600px) {
  .page-container {
    height: auto;
  }
  .tiles {
    grid-template-columns: repeat(2, 1fr);
  }
  .tile-item {
    padding: 15px;
  }
  .photo {
    height: 300px;
  }
}

@media only screen and (max-width: 420px) {
  .tile-item {
    grid-column: span 2;
  }
}
